@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.nosotros {
  background-image: url(../assets/img/nosotros.jpg);
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.main {
  background-image: linear-gradient(to bottom, #000000, #151515, #222222, #303030, #3e3e3e);
}

.marvel {
  color: rgb(186, 4, 4);
  font-weight: bold;
  cursor: pointer;
}

.card {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.carousel-item, .carousel-item img {
  height: 75vh;
  width: 100%;
}

.span {
  background-color: rgb(196, 0, 0);
  padding: 6px;
}

.span2 {
  border-top: 4px solid rgb(255, 255, 255);
  border-bottom: 4px solid rgb(255, 255, 255);
  line-height: 0.5;
}

.banner {
  background-image: url(../assets/img/banner.jpg);
  height: 80vh;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 4vh;
}

.capitulos {
  margin: -50px auto 0;
}

.banner2 {
  background-image: url(../assets/img/banner2.jpg);
  height: 70vh;
  width: 100%;
  margin: 30px 0 -50px 0;
}

.comic:hover {
  color: rgb(147, 12, 12);
  cursor: pointer;
}

.comicimg {
  transition: transform 0.5s ease;
}

.comicimg:hover {
  transform: translateY(-18px);
}

.video {
  margin: 50px 0;
}

ul.nav li.nav-item a.nav-link {
  color: white;
}

@media screen and (max-width: 577px) {
  .carousel-item, .carousel-item img {
    height: 50vh;
    width: 100%;
  }
  .banner {
    padding: 0;
    height: 40vh;
  }
  .video {
    display: block;
    width: 100%;
  }
  .banner2 div {
    width: 100%;
    height: 75vh;
  }
  .banner3 {
    display: none;
  }
  ul.nav {
    display: inline-block;
  }
  ul.nav li.nav-item {
    display: inline-block;
  }
}
.mainheroes {
  overflow: hidden;
}

.heroesfondo {
  background-image: url(../assets/img/banner3.jpg);
  background-size: cover;
  animation: zoomBackgroundHeroes 5s ease-in-out;
}

@keyframes zoomBackgroundHeroes {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.galeria {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.galeria img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: transform 400ms ease-in-out;
}

.galeria:hover img {
  transform: scale(1.08);
}

.galeriadiv:hover {
  color: white;
  background-color: rgba(131, 13, 13, 0.97);
}

.card-text {
  height: 160px;
}

@media screen and (max-width: 577px) {
  .galeria img {
    height: 650px;
    object-fit: cover;
  }
  .card-text {
    height: 100%;
  }
}
.listas .nav-item a.nav-link:hover {
  color: gray;
}

.nav-link {
  padding: 7px !important;
}

@keyframes flotar {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.iconos {
  animation-name: flotar;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.whatsapp {
  background-color: green;
  border-radius: 30%;
}

.instagram {
  animation-delay: 500ms;
  background-image: linear-gradient(to right top, #f4fc00, #fcd500, #fcad00, #f68500, #ea5c00, #e3451a, #da2b28, #ce0032, #c20049, #ae005c, #95006c, #761776);
  border-radius: 30%;
}

.twitter {
  animation-delay: 1000ms;
  background-color: rgb(73, 92, 190);
  border-radius: 30%;
}

.logo {
  position: relative;
  transition: transform 1s ease-out;
  animation: verticalLogo 8s ease-out 1s forwards;
  transform-origin: top left;
  z-index: 2;
}

@keyframes verticalLogo {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(70deg);
  }
  75% {
    transform: rotate(95deg);
  }
  100% {
    transform: rotate(75deg);
  }
}
.main404 {
  overflow: hidden;
}

.roto {
  display: flex;
  background-image: url(../assets/img/404.jpg);
  background-size: cover;
  height: 80vh;
  animation: zoomBackground 700ms ease-in-out forwards;
  z-index: 1;
  padding: 0 6%;
}

@keyframes zoomBackground {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.texto404 {
  color: white;
  width: 560px;
}

.texto404 h1 {
  color: rgb(13, 119, 13);
  font-size: 5rem;
  font-weight: bold;
}

@media screen and (max-width: 577px) {
  .roto {
    align-content: end !important;
  }
  .texto404 {
    padding: 10vh 0;
  }
}

/*# sourceMappingURL=estilos.css.map */
