.carousel-item {
  height: $altobanner;
  width: $ancho;
}
.carousel-item img {
  @extend .carousel-item;
}

.banner {
  background-image: url(../assets/img/banner4.jpg);
  height: 80vh;
  background-size: $ancho auto;
  background-repeat: no-repeat;
  margin: 50px 0 0 0;
  padding: 40px;
}

.capitulos {
  margin: -50px auto 0;
}

.banner2 {
  background-image: url(../assets/img/banner2.jpg);
  height: $altobanner;
  width: $ancho;
  margin: 50px 0 -50px 0;
}

.video {
  margin: 50px 0;
}

@media screen and (max-width: 577px) {
  .banner {
    padding: 0;
    height: 40vh;
  }

  .video {
    display: map-get($display, block);
    width: $ancho;
  }

  .banner2 div {
    width: $ancho;
  }

  .banner3 {
    display: map-get($display, none);
  }
}
