.nosotros {
  background-image: url(../assets/img/nosotros.jpg);
  height: 60vh;
  background-size: $cover;
  background-position: $center;
}

.main {
  background-image: linear-gradient(
    to bottom,
    #000000,
    #151515,
    #222222,
    #303030,
    #3e3e3e
  );
}

.marvel {
  color: rgb(186, 4, 4);
  font-weight: bold;
  cursor: pointer;
}

.card {
  cursor: pointer;
}
