.nosotros {
  background-image: url(../assets/img/nosotros.jpg);
  height: 60vh;
  background-size: $cover;
  background-position: $center;
}

.main {
  background-image: linear-gradient(
    to bottom,
    #2b2b2b,
    #454546,
    #616062,
    #7e7e80,
    #9c9ca0
  );
}
