$tipografia-genaral: "Roboto", sans-serif;
$altobanner: 70vh;
$ancho: 100%;
$center: center;
$cover: cover;
$display: (
  flex: flex,
  block: block,
  inline: inline,
  inline-block: inline-block,
  none: none,
);
